@import url(https://fonts.googleapis.com/css?family=Syne+Mono:regular);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}
h2
{
    text-align: center;
    position: center;
    font-size: 5vw;
    color: #ff0000;
    -webkit-text-stroke: 0.3vw #ff0000;
    text-transform: uppercase;
    content: attr(data-text);
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: firebrick;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 19s;
}
h3
{
    text-align: center;
    position: center;
    font-size: 5vw;
    color: #ff0000;
    -webkit-text-stroke: 0.3vw #ff0000;
    text-transform: uppercase;
    content: attr(data-text);
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: firebrick;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
}
h4
{
    text-align: center;
    position: center;
    font-size: 5vw;
    color: #ff0000;
    -webkit-text-stroke: 0.3vw #ff0000;
    text-transform: uppercase;
    content: attr(data-text);
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: firebrick;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 19s;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 50%;
    }
}
